<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @question.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @question.from %>
</p>

<p>
  <strong>Question:</strong><br>
  <%= @question.question %>
</p>

<%= link_to 'YES', answerd_question_path(@question, answer: "yes") %>
<%= link_to 'NO', answerd_question_path(@question, answer: "no") %>
<br>
<br>
<%= link_to 'Back', questions_path %>

