<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @question.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @question.from %>
</p>

<p>
  <strong>Question:</strong><br>
  <pre><%= @question.question %></pre>
</p>

<div class="center">
  <%= link_to 'YES', answerd_question_path(@question, answer: "yes"), class: "btn btn-primary" %>
  <%= link_to 'NO', answerd_question_path(@question, answer: "no"), class: "btn btn-danger" %>
</div>

